DATABASE_URL="postgresql://localhost:5432/postgres"
APP_MODULE="tasktimer.main:app"

# AWS Cognito Configuration
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_DISABLED=false
